<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>{%block title%} {%endblock title%} | BlackTube</title>
  </head>
  <body>
    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid" style="font-weight: bolder">
        <a class="navbar-brand" href="#">
          <img src="../static/blacktube.png" alt="" width="30" height="24" class="d-inline-block align-top">
            BlackTube
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
              <li class="nav-item">
                <a class="nav-link active">{{request.user}} <img src="../static/verify.png" width="13.5" height="13" class="d-inline-block align-top"></a> <!--<span class="badge rounded-pill bg-success">superuser</span></a>-->
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link active">{{request.user}}</a>
              </li>
            {% endif %}
          <li class="nav-item">
            <a class="nav-link active" href="https://m.youtube.com/" target="_blank">YouTube</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/logout">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link active" href="https://m.youtube.com/" target="_blank">YouTube</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="modal" data-bs-target="#login">Sign In</a>
          </li>
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="modal" data-bs-target="#signup">Create Account</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
    
    <!-- Messages -->
    {% if messages%}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible my-1 show fade" role="alert">
          <img src="../static/message.png" alt="" width="25" height="25" class="d-inline-block align-center mx-2">
            <strong>{{message}}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
    
    <!-- Login Modal -->
    <div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Welcome Back</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
      <form method="POST" action="/login" class="row g-3 needs-validation" novalidate>
        {% csrf_token %} <!-- For POST Method -->
        <div class="mb-3">
          <label class="form-label">Username</label>
          <input type="text" class="form-control" name="userName" placeholder="Enter Username" required>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please enter your name.
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" name="userPass" placeholder="Enter Password" required>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please enter your password.
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Login</button>
        </div>
      </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

    <!-- Signup Modal -->
    <div class="modal fade" id="signup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create An Account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <form class="row g-3 needs-validation" action="/signup" method="POST" novalidate>
          {% csrf_token %} <!-- For POST Method -->
          <div class="col-md-4">
            <label for="validationCustom01" class="form-label">First name</label>
            <input type="text" class="form-control" id="validationCustom01" name="firstName" placeholder="Enter First Name" required>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please enter first name.
            </div>
          </div>
          <div class="col-md-4">
            <label for="validationCustom02" class="form-label">Last name</label>
            <input type="text" class="form-control" id="validationCustom02" name="lastName" placeholder="Enter Last Name" required>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please enter last name.
            </div>
          </div>
          <div class="col-md-4">
            <label for="validationCustomUsername" class="form-label">Username</label>
            <div class="input-group has-validation">
              <span class="input-group-text" id="inputGroupPrepend">@</span>
              <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" name="newUser" placeholder="Enter Username" required>
              <div id="passwordHelpBlock" class="form-text">
                Your username must be unique or 4-10 characters, It should contain only letters and numbers.
              </div>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please choose a unique username.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" aria-describedby="emailHelp" name="newEmail" placeholder="example@gmail.com" required>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please enter your email.
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Choose a password</label>
            <input type="password" class="form-control" name="newPass" placeholder="Choose a password" required>
            <div id="passwordHelpBlock" class="form-text">
              Your password must be 8-20 characters long, contain letters and numbers or special characters.
            </div>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please enter your password.
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Confirm password</label>
            <input type="password" class="form-control" name="conPass" placeholder="Enter your password again" required>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please confirm your password.
            </div>
          </div>
          <button type="submit" class="btn btn-success">Create</button>
        </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

    <!-- Body Block -->
    {%block body%} {%endblock body%}
    

    <!-- For Bootstrap Form validation-->
    <script type="text/javascript" charset="utf-8">
      // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
    </script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>